<ul class="channels-list">
	<li>
		<a href="#relay.js">
			<h1>#relay.js</h1>
		</a>
		<var class="tooltip unread">1</var>
	</li>
	<li>
		<a href="#sudoroom">
			<h1>#sudoroom</h1>
		</a>
	</li>
	<li class="active">
		<a href="#nerdtracker">
			<h1>#nerdtracker</h1>
		</a>
	</li>
	<li>
		<a href="#documentcloud">
			<h1>#documentcloud</h1>
		</a>
		<var class="tooltip urgent unread mention">13</var>
	</li>
	<li>
		<a href="#node.js">
			<h1>#node.js</h1>
		</a>
	</li>
</ul>