<div class="messages-container">
	<div class="topic">
		<div class="source">
			<span class="topic badge">topic</span>
		</div>
		<div class="contents">
			<p>go to <a href="https://outmapp.in/nerdtracker/login" target="_blank">https://outmapp.in/nerdtracker/login</a> to have your foursquare checkins broadcast in this channel! code <a href="https://github.com/maxogden/nerdtracker" target="_blank">https://github.com/maxogden/nerdtracker</a></p>
		</div>
	</div>
	<ul class="messages-list">
		<li class="chat">
			<div class="source">
				<a href="#mk30" class="user user-color-1">mk30</a>
			</div>
			<div class="contents">
				<p>ogd want to get lunch at el farolito in fruitvale with me and substack?<time>1:22 PM</time></p>
			</div>
		</li>
		<li class="chat">
			<div class="source">
				<a href="#substack" class="user user-color-2">substack</a>
			</div>
			<div class="contents">
				<p><a href="http://localwiki.net/sf/VORB" target="_blank">http://localwiki.net/sf/VORB</a><time>1:23 PM</time></p>
			</div>
		</li>
		<li class="status">
			<strong>grncdr</strong> quit (~stephen@173.203.82.246) Ping timeout: 276 seconds
			<time>1:23 PM</time>
		</li>
		<li class="chat">
			<div class="source">
				<a href="#ogd" class="user user-color-3">ogd</a>
			</div>
			<div class="contents">
				<p>substack: still in fruitvale?<time>1:24 PM</time></p>
			</div>
		</li>
		<li class="status">
			<strong>grncdr</strong> joined   <strong>sirialize</strong> left
			<time>1:25 PM</time>
		</li>
		<li class="chat">
			<div class="source">
				<a href="#substack" class="user user-color-2">substack</a>
			</div>
			<div class="contents">
				<p>ogd: yep!<time>1:25 PM</time></p>
				<p>at farolito<time>1:25 PM</time></p>
				<p>just got one of those tmobiles<time>1:25 PM</time></p>
				<p>booking my china flight<time>1:25 PM</time></p>
			</div>
		</li>
		<li class="status">
			<strong>sirialize1</strong> joined   <strong>sirialize</strong> left
			<time>1:25 PM</time>
		</li>
		<li class="chat">
			<div class="source">
				<a href="#mk30" class="user user-color-1">mk30</a>
			</div>
			<div class="contents">
				<p>ogd are you coming by?<time>1:26 PM</time></p>
			</div>
		</li>
		<li class="chat">
			<div class="source">
				<a href="#ogd" class="user user-color-3">ogd</a>
			</div>
			<div class="contents">
				<p>sorry got caught up in work, im at hive cafe, gonna head downtown in a bit<time>1:27 PM</time></p>
			</div>
		</li>
		<li class="chat">
			<div class="source">
				<a href="#mk30" class="user user-color-1">mk30</a>
			</div>
			<div class="contents">
				<p>no worries!<time>1:30 PM</time></p>
				<p>we're gonna go get require coffee too see ya<time>1:30 PM</time></p>
			</div>
		</li>
	</ul>
</div>